PRESTASHOP_BRIDGE_URL=https://example.com/shop/_orders_check/prestashop_mcp_bridge.php
PRESTASHOP_BRIDGE_TOKEN=replace-me
PRESTASHOP_EXPECTED_DB_USER=prestashop_readonly
PRESTASHOP_DEFAULT_LANG_ID=2
PRESTASHOP_DEFAULT_SHOP_ID=1
